html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-repeat: space;
  }
  
  h1 {
    font-family: monospace;
    color: rgb(9, 54, 177);
    font-size: 30px;
  }
  
  canvas {
    background-color: rgb(51, 201, 141);
    width: 800px;
    height: 600px;
  }
   
  p {
    display: inline-block;
    font-size: 25px;
    position: relative;
    padding-top: 10px;
  }

  #start {
    position: relative;
  }

  